<!--
 * @Author: your name
 * @Date: 2020-05-20 12:33:38
 * @LastEditTime: 2020-10-31 11:44:50
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \buka\day63\index.html
-->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" id="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" @keyup.enter="addItem" v-app-focus>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<!-- vue中提供了一个template标签，作用和div一样，但是页面渲染的时候不会把这个元素渲染出来，就相当于不存在，所以不能时候v-show 要使用v-if -->
			<template  v-if="items.length">
			<!-- <div v-show="items.length"> -->
				<section class="main" >
					<input v-model="toggleAll" id="toggle-all" class="toggle-all" type="checkbox">
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						<!-- These are here just to show the structure of the list items -->
						<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
						<li v-for="(item,index) in filterItems" :class="{completed:item.completed,editing:item === currentItem}">
							<div class="view">
								<input class="toggle" type="checkbox" v-model="item.completed">
								<label @dblclick="toEdit(item)">{{item.content}}</label>
								<button @click="removeItem(index)" class="destroy" :value="item.id"></button>
							</div>
							<input v-app-focus class="edit" :value="item.content" @keyup.esc="canceEdit" @keyup.enter="finishEdit(item,index,$event)" @blur="finishEdit(item,index,$event)">
						</li>
						
					</ul>
				</section>
				<!-- This footer should hidden by default and shown when there are todos -->
				<footer class="footer" >
					<!-- This should be `0 items left` by default -->
					<span class="todo-count"><strong>{{remaining}}</strong> item{{remaining===1?"":"s"}} left</span>
					<!-- Remove this if you don't implement routing -->
					<ul class="filters">
						<li>
							<a :class="{selected:filterStatus === 'all'}" href="#/">All</a>
						</li>
						<li>
							<a :class="{selected:filterStatus === 'active'}" href="#/active">Active</a>
						</li>
						<li>
							<a :class="{selected:filterStatus === 'completed'}" href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button v-show="items.length > remaining" @click="removeCompleted" class="clear-completed">Clear completed</button>
				</footer>
			<!-- </div> -->
			</template>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
