<div class="aside">
        <ul class="aside-ul">
            <li class="text-center">
                <h4>用户管理</h4>
                <ul>
                    <li class="list-group-item"> <a href="/admin/staff/add" target="rightIfram">用户添加</a></li>
                    <li class="list-group-item"> <a href="/admin/staff/list" target="rightIfram">用户列表</a></li>
                </ul>
            </li>
            <li class="text-center">
                <h4>角色管理</h4>
                <ul>
                    <li class="list-group-item"> <a href="/admin/role/add" target="rightIfram">角色添加</a></li>
                    <li class="list-group-item"> <a href="/admin/role/list" target="rightIfram">角色列表</a></li>
                </ul>
            </li>
            <li class="text-center">
                <h4>权限管理</h4>
                <ul>
                    <li class="list-group-item"> <a href="/admin/access/add" target="rightIfram">权限添加</a></li>
                    <li class="list-group-item"> <a href="/admin/access/list" target="rightIfram">权限列表</a></li>
                </ul>
            </li>
        </ul> 
</div>