<nav class="navbar navbar-default">  
    <div class="container-fluid">
         
      <div class="navbar-header">
        <a  href="/admin">
            <img src="/public/admin/img/logo.png" width="100px" alt="">
        </a>
      </div>
   
      <div >   
        <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span>&nbsp;{{name}}</a>
            </li>
            <li><a href="/admin/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;退出</a>
            </li>
        </ul>
      </div>

    </div>
  </nav>