<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: yellow;

        }
    </style>
</head>
<body>
    <div id="app">
        <h3>v-if条件渲染</h3>
        <input type="checkbox" v-model="flag">勾选后显示
        <div class="box" v-if="flag"></div>
        <p v-else="flag">黄盒子隐藏了</p>
        <h3>v-show条件渲染</h3>
        <div class="box" v-show="flag"></div>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                flag:true
            }
        })
    </script>
</body>
</html>